html, body, div, span, applet, object, iframe,
h1,h2,h4,h5,h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none; 
}
blockquote, q {
  quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}
span{
    display:inline-block;
}
.clear{
    clear:both;
}

/* header-top
===============================*/
.header-top{
    background:#000000;
    &_box{
        display: flex;
        justify-content:space-between;
        &__item{
          font-family: "ProximaNovaLight";
          font-size: 12px;
          padding: 11px 0px;
          a{
              color:#fff;
              -webkit-transition:0.5s;
              &:hover{
                color:#B2131F;
            }
        }
        .active-lang{
            color:#B2131F;
        }
        span{
            padding:0px 9px;
            color:#fff;
        }
    }
}
}

/* header-middle
===============================*/
.header-middle{
    &_item{
        padding: 36px 0px;
        text-align: center;
        img{
            margin: 0 auto;
        }
        span{
            color: #3e3e3d;
            font-size: 30px;
            font-family: "ProximaNovaRegular";
            background: url(../img/phone.png) no-repeat left center;
            padding-left: 48px;
        }
        a{
            color: #a21c26;
            font-size: 14px;
            font-family: "ProximaNovaRegular";
            border-bottom:1px solid #F4C7CA;
        }
        &__last{
            a{
                
                border-bottom: none;
            }
           a:first-child{
            margin-right: 10px;
           }
       }
       @media only screen and (min-width: 768px) {
        &__first{
            img{
                margin-left: 0;
            }
        }
        &__second{
            text-align: right;
        }
        &__last{
            text-align: right;
        }
    }
}
}