html, body, div, span, applet, object, iframe,
h1,h2,h4,h5,h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none; 
}
blockquote, q {
  quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}
span{
    display:inline-block;
}
.clear{
    clear:both;
}

/* header-top
===============================*/
.header-top{
    background:#000000;
    &_box{
        display: flex;
        justify-content:space-between;
        &__item{
          font-family: "ProximaNovaLight";
          font-size: 12px;
          padding: 11px 0px;
          a{
              color:#fff;
              -webkit-transition:0.5s;
              &:hover{
                color:#B2131F;
            }
        }
        .active-lang{
            color:#B2131F;
        }
        span{
            padding:0px 9px;
            color:#fff;
        }
    }
}
}

/* header-middle
===============================*/
.header-middle{
    &_item{
        padding: 36px 0px;
        text-align: center;
        img{
            margin: 0 auto;
        }
        span{
            color: #3e3e3d;
            font-size: 30px;
            font-family: "ProximaNovaRegular";
            background: url(../img/phone.png) no-repeat left center;
            padding-left: 48px;
        }
        a{
            color: #a21c26;
            font-size: 14px;
            font-family: "ProximaNovaRegular";
            border-bottom:1px solid #F4C7CA;
        }
        &__last{
            a{

                border-bottom: none;
            }
            a:first-child{
                margin-right: 10px;
            }
        }
        @media only screen and (min-width: 992px) {
            &__first{
                img{
                    margin-left: 0;
                }
            }
            &__second{
                text-align: right;
            }
            &__last{
                text-align: right;
            }
        }
    }
}

/* Navigation
==========================*/
.nav-wrap{
    background:#EDEDED;
}
.nav{
    @media only screen and (min-width: 992px) {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
    }
    &_item{

        &__left{
            position: relative;
            @media only screen and (min-width: 992px) {
                width: 61%;
            }
        }
        &__right{
            padding: 6px 0px;
            @media only screen and (min-width: 992px) {
                width: 36%;
            }
        }
        ul{
            text-align: center;
            @media only screen and (min-width: 768px) {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: space-between;
            }
            li{
                @media only screen and (min-width: 768px) {
                    display: inline-block;
                }
                .sub-menu{
                    background:#232323;
                    display: none;
                    @media only screen and (min-width: 768px) {
                        text-align: left;
                        padding: 16px 0px;
                        position: absolute;
                        top: 45px;
                        width: 315px;
                    }
                    li{
                        @media only screen and (min-width: 768px) {
                            display: block;
                        }
                        a{
                            color:#fff;
                            font-size: 12px;
                            text-transform: none;
                            display: block;
                            @media only screen and (min-width: 768px) {
                                padding: 0 16px;
                            }
                            &:hover{
                                background: #000000;
                            }
                            @media only screen and (min-width: 768px) {
                                font-size: 14px;
                            }
                        }
                    }
                }
                a{
                    display: inline-block;
                    height: 44px;
                    padding: 0px 10px;
                    color: #3d3d3d;
                    font-family: "ProximaNovaRegular";
                    font-size: 18px;
                    text-transform: uppercase;
                    -webkit-transition:0.5s;
                    line-height: 43px;

                    &:hover{
                        color:#BE1521;
                        background: #000000;
                // font-family: "ProximaNovaSemibold";
            }
        }
    }
}
button{
    background: none;
    outline: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
label{
    position: relative;
}
input[type="text"]{
    width: 100%;
    height: 33px;
    background-color: white;
    padding-left: 10px;
    padding-right: 25px;
    font-family: "ProximaNovaRegular";
    color:black;
    border:none;
    outline: none;
}
}
}

/* header-bottom
=========================*/
.header-bottom{
    &_item{
        ul{
            li{
                position: relative;
                &:nth-child(2n+1){
                    background:#FBFBFB;
                }
                &:nth-child(2n){
                    background: #F6F6F6;
                }
                a{
                    display: block;
                    width: 100%;
                    padding: 16px 15px;
                    color: #3d3d3d;
                    font-size: 14px;
                    font-family: "ProximaNovaRegular";
                    -webkit-transition:0.5s;
                    b{
                        position: absolute;
                        right: 0;
                        top: 15px;
                        right: 20px;
                    }
                    &:hover{
                        background: #BE1521;
                        color:#fff;
                    }
                }
            }
        }
    }
    #slider-banner{
        @media only screen and (min-width: 768px) {
            .nav-left{
                width: 48px;
                height: 55px;
                position:absolute;
                top:45%;
                left:0px;
                transform: translateY(-50%);
                background:rgba(black, 0.5) url(../img/left.png) no-repeat top 11px center;
            }
            .nav-right{
                width: 48px;
                height: 55px;
                position:absolute;
                top:45%;
                right:0px;
                transform: translateY(-50%);
                background:rgba(black, 0.5) url(../img/right.png) no-repeat top 11px center;
            }
        }
    }
}